<div class="container mt20">
  <div class="jumbotron text-center">
    <h1>Simple Chat App</h1>
    <p>Realtime Mini-Chat with Rails and Faye</p>
    <p class="mt50"><a class="btn btn-primary btn-lg">Learn more</a></p>
  </div>
</div>
