// Add more margins, paddings and whatnot if necessary

/*******************
* MARGIN TOP
********************/
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt50 {
  margin-top: 50px;
}

/*******************
* MARGIN BOTTOM
********************/
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb50 {
  margin-bottom: 50px;
}

/*******************
* MARGIN LEFT
********************/
.ml10 {
  margin-left: 10px;
}
.ml20 {
  margin-left: 20px;
}
.ml50 {
  margin-left: 50px;
}

/*******************
* MARGIN RIGHT
********************/
.mr10 {
  margin-right: 10px;
}
.mr20 {
  margin-right: 20px;
}
.mr50 {
  margin-right: 50px;
}
